/* 
    Stylesheet to Car Claim Form Views
    Created on : May 14, 2015, 5:07:21 AM
    Author     : André
*/

.text-field {
    -fx-border-style: solid;
    -fx-border-color: #ff0000;
    -fx-border-width: 2px;
    -fx-background-color: #FFF1F1;
}

.text-area {
    -fx-border-style: solid;
    -fx-border-color: #ff0000;
    -fx-border-width: 2px;
}

.text-area .content {
    -fx-background-color: #FFF1F1;
}

#opacityBackground {
    -fx-background-color: rgba(255, 241, 241, .5); // the last number decides the opacity
}

#custom.label {
    -fx-font-size: 20pt;
    -fx-background-color: #ffff33;
    -fx-border-style: solid;
    -fx-border-color: #ff0000;
    -fx-border-width: 2px;
    -fx-padding: 10;
}

#custom.button {
    -fx-border-color: #000000;
    -fx-border-width: 2px;
    -fx-background-color: #ff9933;
    -fx-font-size: 30pt;
    -fx-padding: 30;
}

#custom.button:hover {
    -fx-background-color: #ffcc66;
}

#custom1.button {
    -fx-border-color: #000000;
    -fx-border-width: 2px;
    -fx-background-color: #66ff66;
    -fx-font-size: 10pt;
    -fx-padding: 15;
}

#custom1.button:hover {
    -fx-background-color: #99ff99;
}

#guilty.button {
    -fx-border-color: #000000;
    -fx-border-width: 2px;
    -fx-background-color: #ff0000;
    -fx-font-size: 30pt;
    -fx-padding: 30;
}

guilty.button:hover {
    -fx-background-color: #FF5E5E;
}

#notGuilty.button {
    -fx-border-color: #000000;
    -fx-border-width: 2px;
    -fx-background-color: #66ff66;
    -fx-font-size: 30pt;
    -fx-padding: 30;
}

notGuilty.button:hover {
    -fx-background-color: #C8FFC8;
}